{% extends "AppKalos/padre.html" %}
{% load static %}

{% block title %}<title>Lista Paciente</title> {% endblock title %}
{% block header1 %} <h2 class="masthead-subheading mb-0"> Lista Pacientes </h2> {% endblock header1 %}

{% block botonscroll %} 
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Pacientes' %}"> Regresar </a>
{% endblock botonscroll %} 

{% block section1 %}
    <h1> Listado de Pacientes</h1>    
    
    <ul>
        {% for paciente in object_list %}
        <li> {{ paciente.apellido }}, {{ paciente.nombre }} 
                
                <a href="{% url 'Detail' paciente.id %}"> Ver </a>
                <a href="{% url 'Edit' paciente.id %}"> Editar </a>
                <a href="{% url 'Delete' paciente.id %}"> Borrar </a>
        
        </li>
        {% endfor %}
    </ul>
{% endblock section1 %}
