{% extends "AppKalos/padre.html" %}
{% load static %}

{% block header1 %} 
<h2> Inicia Sesión </h2> 
<h2> o </h2> 
<h2> Crea una Cuenta </h2> 

{% endblock header1 %}

{% block botonscroll %} 

{% endblock botonscroll %}

{% block section1 %}

<body>
    
    <form action="" method="POST">

        {% csrf_token %}
        {{form.as_table}}
    
        <button type="Submit"> Iniciar Sesión </button>
    </form>
    
    <button> <a href="{% url 'Register' %}"> Crear Cuenta </a> </button>
</body>

{% endblock section1 %}